h2,h3{
text-align:center;
}

.container{
text-align:center;
margin-left:30%;
margin-right:30%;
margin-top:5%;
}

body {
    background-image: url("image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}
